{% if include.nested %}
	{% assign carousel = include.nested[0] %}
{% else %}
	{% assign carousel = section %}
{% endif %}

<div class="carousel__container">
	<a href="#" class="carousel__previous"><i class="fas fa-chevron-left"></i></a>
	<ul class="carousel__list">
		{% for slide in carousel.slides %}
			<li class="carousel__slide {% if forloop.first%}active{% endif %}" data-slideshow-index="{{forloop.index}}">
				<div class="carousel__content">
					<div class="carousel__image" style="background-image: url('/..{{slide.image_url}}')"></div>
					<div class="carousel__caption">{{slide.caption}}</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<a href="#" class="carousel__next"><i class="fas fa-chevron-right"></i></a>
</div>