{% assign primary = site.data.navigation.primary %}
{% assign social = site.data.social_links %}

<nav>
	<div class="container">
	<a class="logo" href="/">
		<img src="/assets/img/logo_green_text.svg">
	</a>
	<ul class="nav__menu">
		{% for item in social %}
			{% if item.url %}
				<li class="social">
					<a href="{{ item.url }}" data-tooltip="{{item.label}}">
						<img src="{{item.asset_src}}">
					</a>
				</li>
			{% endif %}
		{% endfor %}

		{% for item in primary %}
			{% if item.url == "/" %}
			{% else %}
				<li>
					{% assign page_url = page.url | replace: "/","" | prepend: "/" %}
					{% if item.url == page_url %}
						<a class="active" href="{{ item.url }}">{{ item.label }}</a>
					{% else %}
						<a href="{{ item.url }}">{{ item.label }}</a>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="mobile__trigger"><a href="#"><i class="fas fa-bars"></i></a></div>
	</div>
</nav>