{% assign primary = site.data.navigation.primary %}
{% assign social = site.data.social_links %}

<nav class="mainNav">
	<div class="container">
		<!-- <div class="menu__trigger">
			<a class="navButton iconButton" data-tooltip="Menu" href="#"><i class="fas fa-bars"></i></a>
		</div> -->
		<a class="logo" href="/">
			<img src="/assets/img/logo_white_text.svg">
			<div class="business__title">Roveda Design</div>
		</a>
		<ul class="nav__menu">
			<div class="menuOptions">
				<ul class="optionsList">
					{% for item in primary %}
						{% if item.url.size > 0 %}
							<li>
								<a href="{{ item.url }}">{{ item.label }}</a>
							</li>
						{% endif %}
					{% endfor %}

					<!-- {% for item in social %}
						{% if item.url.size > 0 %}
							<li>
								<a href="{{ item.url }}">{{item.label}}</a>
							</li>
						{% endif %}
					{% endfor %} -->
				</ul>
			</div>
			{% for item in social %}
				{% if item.url.size > 0 %}
					<li class="social">
						<a class="iconButton" data-tooltip="{{item.label}}" href="{{ item.url }}">
							<img src="{{item.asset_src}}">
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>