{% assign primary = site.data.navigation.primary %}

<nav class="container">
	<div class="container">
	<a class="logo" href="/">
		<img src="/assets/img/logo__white-background.svg">
	</a>
	<ul>
		{% for item in primary %}
			{% if item.url == "/" %}
			{% else %}
				<li>
					{% assign page_url = page.url | replace: "/","" | prepend: "/" %}
					{% if item.url == page_url %}
						<a class="active" href="{{ item.url }}">{{ item.label }}</a>
					{% else %}
						<a href="{{ item.url }}">{{ item.label }}</a>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	</div>
</nav>