<!-- <div id="about_section" class="overlay__container">	

	<div class="overlay__sections">
		<section class="about">
			<img class="about__profile-img" src="/uploads/logo__green-background.svg">							<div class="about__paragraph">
				Roveda Design is a full-service architectural and building design firm specializing in interior renovations. We are exceptionally equipped to take projects of varying scope from concept through completion. Endeavoring to establish bespoke, timeless spaces of impeccable craft our goal is to create homes that lend a sense of grace and harmony to our client’s everyday lives.

				Based out of Evanston, we continue to develop and refine our unique approach to design through a curated and collaborative process. We guide our clients through each step of their project including: preliminary site consultation; plan development; detailed interior/exterior drawings; bid and permit planning; contractor selection; cabinetry design; fixtures, finishes, and all surface selections. At Roveda Design, it is our firm belief that this level of project management is what enables us to translate our designs and our client’s dreams from paper to reality.
			</div>
		</section>

		<section class="contact">
			<form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdywCCnUhbH3LtzUyudiApKBTIs1nd8zj9vYOSekKz-6GzH-g/formResponse" target="_self" method="GET" id="contact_form">
				<label>Name</label>
				<input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Full name" aria-describedby="i.desc.817491803 i.err.817491803" name="entry.236640318" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
				<label>Message</label>
				<textarea class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Message" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="entry.841468630" dir="auto" data-initial-dir="auto" data-initial-value="" aria-describedby="i.desc.528899068 i.err.528899068" aria-invalid="true"></textarea>
				<input class="button" type="submit" name="">
			</form>

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdywCCnUhbH3LtzUyudiApKBTIs1nd8zj9vYOSekKz-6GzH-g/viewform?embedded=true" width="640" height="1039" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</section>
	</div>

</div>
 -->