section.about {
	display: flex;
	flex-direction: column;

	.about__profile-img {
		margin: 0 auto;
		width: 250px;
		height: auto;
		margin-bottom: 60px;
	}

	.about__paragraph {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 $default_margin*2;

		p {
			margin-bottom: 4em;	
		}
	}
}