nav {
	z-index: 999;
	position: relative;
	left: 0;
	right: 0;
	top:0;
	padding-bottom: 50px;
	color: $brown;
	background-color: #FFFFFF;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
	}

	.logo {
		text-align: left;
		display: inline-block;
		margin: 30px;
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
			transition: all .2s ease-in-out;

			img {
				box-shadow: $shadow__logo-hover;
				transition: all .2s ease-in-out;
			}
		}

		img {
			width: 70px;
			height: auto;
			box-shadow: $shadow__logo;
			border-radius: 35%;
			transition: all .2s ease-in-out;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: auto;
		margin-right: 30px;

		li {
			margin-right: 15px;
			margin-left: 15px;

			a {
				font-weight: 500;
				font-size: 17px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					bottom: -10px;
					height: 2px;
					width: 0%;
					background-color: $brown;
					left: 0;
					right: 0;
					margin: auto;
					transition: width .2s ease-in-out;
				}

				&:hover {
					opacity: 1;

					&:after {
						width: 100%;
						transition: width .2s ease-in-out;
					}
				}

				&.active {
					pointer-events: none;

					&:after {
						content: "";
						width: 100%;
					}
				}
			}
		}
	}

	&.cover {
		position: fixed;
		padding-top: 70px;
		background-color: transparent;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 70px;

		.container {
			justify-content: center;
		}

		.logo {
			display: none;
		}

		ul {
			margin: initial;
		}
	}
}

 @media screen and (min-width: $s-viewport) {
	nav {

		ul {

			li {
				margin-right: 20px;
				margin-left: 20px;

				a {
					font-size: 18px;
				}
			}
		}
	}
 }

