nav {
	z-index: 999;
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	color: white;
	background: -moz-linear-gradient(top, rgba(0,0,0,.5) 5%, rgba(0,0,0,0) .500%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 10.5%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-bottom: 80px;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
	}

	.logo {
		text-align: left;
		margin-top: 64px;

		img {
			width: 42px;
			min-width: 42px;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: auto;
		margin-right: 0;

		li {
			margin-right: 15px;
			margin-left: 15px;

			a {
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 2.5px;
				position: relative;
				text-transform: uppercase;
				color: white;

				&:after {
					content: "";
					position: absolute;
					bottom: -10px;
					height: 2px;
					width: 0%;
					background-color: white;
					left: 0;
					right: 0;
					margin: auto;
					transition: width .2s ease-in-out;
				}

				&:hover {
					opacity: 1;

					&:after {
						width: 100%;
						transition: width .2s ease-in-out;
					}
				}

				&.active {
					pointer-events: none;

					&:after {
						content: "";
						width: 100%;
					}
				}
			}
		}
	}

	&.cover {
		position: fixed;
		padding-top: 70px;
		background-color: transparent;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 70px;

		.container {
			justify-content: center;
		}

		.logo {
			display: none;
		}

		ul {
			margin: initial;
		}
	}
}

 @media screen and (min-width: $s-viewport) {
	nav {

		ul {

			li {
				margin-right: 20px;
				margin-left: 20px;

			}
		}
	}
 }

