.project {

	.project__title-container {
		display: flex;
		flex-direction: column;
		text-align: center;

		.iconButton {
			color: $gold;
		}

		.project__location {
			color: $light_gray;
			font-size: 16px;
		}
	}

	.project__title {
		position: relative;
		font-size: 34px;
		font-weight: 200;
		color: $gold;
		margin-bottom: 16px;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 48px;
    	padding: 0 (44px + 8px);

		.iconButton {
			position: absolute;
    		left: 0;
    		top: -5px;
		}
	}

	.projects__link {
		font-size: 13px;
		letter-spacing: .3px;
		font-weight: 600;
		margin-bottom: 10px;
		text-transform: uppercase;
		display: inline-block;

		& + project__title {
			margin-top: 8px;
		}
	}

	.project__gallery {
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 0 24px;
		z-index: 10;
		position: relative;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		padding-top: 48px;
		-webkit-overflow-scrolling: touch;
	}

	.project__image__wrapper {
		position: relative;
		margin-bottom: 56px;
		scroll-snap-align: center;
		padding: 0 24px;

		img {
			border-radius: 10px;
			box-shadow: 0 4px 60px rgba(0,0,0,.18);
			height: 60vh;
			max-width: initial;
		}

		figcaption {
		    width: 100%;
		    margin: 16px auto;
		    text-align: center;
		    opacity: .75;
		    max-width: 60%;
		}
	}

	@media screen and (max-width: $m-viewport) {
		.project__gallery {
			padding-left: 0;

			.project__image__wrapper:first-child {
				margin-left: -8px;
			}
		}

		.project__image__wrapper img {
			height: auto;
			max-width: calc(100vw - 32px);
		}
	}
}