.project__list {
	margin-top: calc(16vh + 50px);
	display: flex;
	flex-direction: row;
	overflow: scroll;
	padding: 0 20px;
	max-width: 100vw;
}

.project__item {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 -3px 60px rgba(0,0,0, .18);
	background-color: white;
	min-width: 70%;
    background-position: center;
    background-size: cover;
	padding: 50px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	margin-left: 20px;
	align-items: center;
}

.project__info {
	
	.project__title {
	    color: white;
	    text-shadow: 0 2px 14px black;
	    font-size: 21px;
	}

	.project__description {
		display: none;

		.project__learn-more {

		}
	}


}

.project__anchor {
	width: 100%;
	max-width: 400px;
	margin: auto 0 0 0;
}

.project__visual {


	.project__image {

	}
}

@media only screen and (min-width: $s-viewport) {

}