.project__list {
	margin-top: calc(16vh + 50px);
	display: flex;
	flex-direction: row;
	text-overflow: scroll;
}

.project__item {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 -3px 60px rgba(0,0,0, .18);
	background-color: white;
	min-width: 70%;
    background-position: center;
    background-size: cover;
	padding: 50px;
	display: flex;
	flex-direction: column;
	margin-right: -20px;
}

.project__info {

	.project__title {

	}

	.project__description {
		display: none;

		.project__learn-more {

		}
	}


}

.project__anchor {
	margin-top: auto;
	width: 100%;
}

.project__visual {


	.project__image {

	}
}

@media only screen and (min-width: $s-viewport) {

}