section.project {
	@include default_margin();

	.project__actions {
		margin: 0 auto 20px auto;
		text-align: center;
	}

	.project__title {
		font-size: 40px;
		margin-bottom: 2em;
		color: $brand;
		text-align: center;
	}
}