.project-hero {
	background-color: $brand;
	width: 100%;
	min-height: 200px;
	margin-bottom: 30px;
	color: white;
	padding: $default_margin*4 0;
 	text-align: center;
 	background-size: cover;
 	background-repeat: no-repeat;;
 	background-position: center;
	@include header-extra-large();
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		background-color: rgba($brand,.85);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: -1;
	}

	.project-hero__title,
	.project-hero__message {
		margin-left: $default_margin*4;
		margin-right: $default_margin*4;
	}

	.project-hero__title + .project-hero__message {
		margin-top: 10px;
	}
}

.project-hero + .projects {
	margin-top: 70px;
}

 // @media screen and (min-width: $s-viewport) {
 // 	.project-hero {
 // 		text-align: left;
 // 	}
 // }