.project {
	.project__hero {
		display: flex;
		flex-direction: row;
	}

	.project__title-container {
		margin: 180px auto auto auto;
		text-align: center;
		width: auto;
		max-width: 85vw;
		min-width: 85vw;
		padding: 45px;
		background-color: rgba(255,255,255,.9);
		border-radius: 100% / 15%;
		box-shadow: 0 5px 10px rgba(0,0,0,.12);
		position: absolute;
		left: 0;
		right: 0;
	}

	.project__title {
		display: flex;
		flex-direction: column;
		font-size: 36px;
		font-weight: 200;
		color: $brown;
	}

	.project__current {
		height: 55vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.projects__link {
		font-size: 13px;
		letter-spacing: .3px;
		font-weight: 600;
		margin-bottom: 10px;
		text-transform: uppercase;
		display: inline-block;

		& + project__title {
			margin-top: 8px;
		}
	}

	.project__next,
	.project__prev {
		position: relative;
		width: 50px;
		background-color: blue;
		z-index: 1;

		&.link {
			position: absolute;
			bottom: -24px;
			z-index: 2;
			background-color: rgba(white, .95);
			padding: 16px 32px;
			width: auto;
			box-shadow: $shadow__logo-light;
		}
	}

	.project__next {
		&.link {
			right: 0;
		}
	}

	.image__list {
		padding: 70px 2vw;
		text-align: center;
		margin: 0 auto;
	}

	$image_offset_h: 10px;
	$image_offset_v: 60px;
	$caption_offset: 25px;

	.image__item {
		margin: 70px auto;
		max-width: 800px;


		.image__visual {
			border-radius: 4px;
			max-width: 100%;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
			max-height: 80vh;
			text-align: center;
			padding: 0 1vw;

			img {
				max-height: 80vh;
				max-width: 800px;
			}
		}

		.image__caption {
			color: $gold;
			font-weight: 600;
			margin-top: 24px;
		}

		&.two-up {
			display: flex;
			flex-direction: row;
			margin-top: 70px + $caption_offset*4;

			.image__visual { 
				flex: 1;

				img {
					max-width: 100%;
				}

				&.before {
					margin-right: -$image_offset_h;

					.image__caption {
						width: 100%;
						text-align: right;
					}
				}

				&.after {
					margin-top: $image_offset_v;
					margin-left: -$image_offset_h;
					// padding-top: $image_offset_v;

					.image__caption {
						left: $image_offset_h*3;
					}
				}
			}

			.image__caption {
				position: absolute;
				top: -$caption_offset;
				margin-top: 0;
			}
		}
	}
}

@media screen and (min-width: $s-viewport) {
	.project {

		.project__title-container {
			max-width: 520px;
			min-width: initial;
		}
	}
}