.button,
button,
[type="submit"] {
	display: inline-block;
	padding: 18px 22px;
	background-color: $brand;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 100px;
	border: 0px solid transparent;
	text-align: center;

	&:hover {
		cursor: pointer;

		&:after {
			content: none;
		}
	}

	&.brown {
		background-color: $gold;
	}
}

.button--small {
	padding: 10px 16px;
	font-size: 13px;
	font-weight: 600;
}

.button--white {
	color: $brown;
	background-color: transparent;
}

.iconButton {
	height: $iconButtonSize;
	width: $iconButtonSize;
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 50%;

	i {
		height: $iconButtonSize;
		width: $iconButtonSize;
		text-align: center;
		line-height: $iconButtonSize;
		font-size: 18px;
	}

	&:hover {
		background-color: rgba(black, .08);
	}

	&:active {
		background-color: rgba(black, .15);
	}
}