$forest_green: #445B49;
$forest_green--shadow: #445B49;
$brown: #B28357;
$gold: #AE7E5C;
$light_gray: #787472;

$pageBackground: #F4F4F4;

// Color assignments
$brand: $forest_green;
$brand--shadow: $forest_green--shadow;

// Layout
$container_max_width: 100%;
$default_margin: 20px;
$default_section_padding_top: 150px;
$iconButtonSize: 44px;

$navHeight: 76px;

// Effects
$shadow__logo: 0 2px 10px rgba(black, .12);
$shadow__logo-hover: 0 6px 20px rgba(black, .08);
$shadow__logo-light: 0 4px 14px rgba(black, .08);
$nav_shadow: 0 1px 2px rgba(0,0,0,.6);



//// Media queries
$l-viewport: 1200px;
$m-viewport: 820px;
$s-viewport: 580px;
$xs-viewport: 480px;

@mixin default_margin() {
	padding: $default_margin;

	// @media screen and (min-width: $m-viewport) {
	// 	padding: 30px 60px 60px 60px;
	// }
}

@mixin paragraph-text() {
	line-height: 2;
	font-size: 18px;
}

@mixin header-extra-large() {
	font-size: 50px;
}