$forest_green: #6C8672;
$forest_green--shadow: #5C7161;
$brown: #787472;

// Color assignments
$brand: $forest_green;
$brand--shadow: $forest_green--shadow;

// Layout
$container_max_width: 1200px;
$default_margin: 20px;

// Effects
$shadow__logo: 0 2px 10px rgba(black, .12);
$shadow__logo-hover: 0 6px 20px rgba(black, .08);

//// Media queries
$l-viewport: 1200px;
$m-viewport: 820px;
$s-viewport: 580px;

@mixin default_margin() {
	padding: $default_margin;

	@media screen and (min-width: $m-viewport) {
		padding: 30px 60px 60px 60px;
	}
}

@mixin paragraph-text() {
	line-height: 2;
	font-size: 18px;
	opacity: .6;
}

@mixin header-extra-large() {
	font-size: 50px;
}