---
layout: default
---
<section class="project">
	<div class="project__title-container">
		<h1 class="project__title">
			<a class="iconButton" href="/"><i class="fa fa-arrow-left"></i></a>
			{{ page.title }}
		</h1>
		<p class="project__location">{{ page.location }}</p>		
	</div>	
	<div class="project__gallery">
		{% for image in page.images %}
			<figure class="project__image__wrapper">
				<img alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.image }}">
				{% if image.caption %}
					<figcaption>{{image.caption}}</figcaption>
				{% endif %}
			</figure>
		{% endfor %}
	</div>
</section>

<!-- {% include overlay.html %}
 -->