---
layout: default
permalink: page.permalink
---
<!-- <section class="projects"> -->
	<ul class="project__list">
		{% for project in site.projects %}
			<div class="project__item__wrapper" {% if forloop.index == 3 %}id="middle"{%endif%}>
				<a class="project__item" href="{{project.url}}" style="background-image: url('../{{project.banner_image}}')">
<!-- 					<div class="button project__anchor">Explore</div>
 -->				<div class="project__info" >
 						<div class="project__visual__blur" style="background-image: url('../{{project.banner_image}}')"></div>
						<h2 class="project__title">{{project.title}}</h2>
						<p class="project__location">{{project.location}}</p>
					</div>
				</a>
			</div>
		{% endfor %}
		{% for project in site.projects %}
		{% endfor %}
	</ul>
	{% include overlay.html %}

<!-- </section>

